apiVersion: v1
kind: ConfigMap
metadata:
  name: langfuse-clickhouse-config
data:
  users.xml: |
    <?xml version="1.0"?>
    <yandex>
      <users>
        <default>
          <password>langfuse-clickhouse-password</password>
          <networks>
            <ip>::/0</ip>
          </networks>
          <profile>default</profile>
          <quota>default</quota>
        </default>
      </users>
      <!-- Profiles configuration -->
      <profiles>
        <default>
          <max_memory_usage>10000000000</max_memory_usage>
          <use_uncompressed_cache>0</use_uncompressed_cache>
          <load_balancing>random</load_balancing>
        </default>
      </profiles>
      
      <!-- Quotas configuration -->
      <quotas>
        <default>
          <interval>
            <duration>3600</duration>
            <queries>0</queries>
            <errors>0</errors>
            <result_rows>0</result_rows>
            <read_rows>0</read_rows>
            <execution_time>0</execution_time>
          </interval>
        </default>
      </quotas>
    </yandex>
  config.xml: |
    <?xml version="1.0"?>
    <yandex>
      <listen_host>0.0.0.0</listen_host>
      <http_port>8123</http_port>
      <tcp_port>9000</tcp_port>
      <max_server_memory_usage_to_ram_ratio>0.9</max_server_memory_usage_to_ram_ratio>
      
      <!-- Data directory -->
      <path>/var/lib/clickhouse/</path>
      
      <!-- Temporary files directory -->
      <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
      
      <!-- User files directory -->
      <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
      
      <!-- Format schemas directory -->
      <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
      
      <!-- Logger configuration -->
      <logger>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <level>information</level>
        <console>1</console>
      </logger>
      
      
      <!-- User directories configuration -->
      <user_directories>
        <users_xml>
          <path>/etc/clickhouse-server/users.xml</path>
        </users_xml>
        <local_directory>
          <path>/etc/clickhouse-server/users.d</path>
        </local_directory>
      </user_directories>
      
      <!-- Disable remote servers for standalone deployment -->
      <!-- <remote_servers incl="clickhouse_remote_servers" /> -->
      
      <!-- ZooKeeper (not needed for standalone) -->
      <!-- <zookeeper incl="zookeeper-servers" optional="true" /> -->
    </yandex>

