apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: clickhouse
  labels:
    component: clickhouse
spec:
  serviceName: clickhouse-service
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      component: clickhouse
  template:
    metadata:
      labels:
        component: clickhouse
    spec:
      containers:
      - name: clickhouse
        image: clickhouse-image
        ports:
        - name: http
          containerPort: 8123
        - name: native
          containerPort: 9000
        env:
        - name: CLICKHOUSE_DB
          value: "langfuse"
        - name: CLICKHOUSE_USER
          valueFrom:
            configMapKeyRef:
              name: langfuse-config
              key: clickhouse-user
        - name: CLICKHOUSE_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: langfuse-config
              key: clickhouse-password
        - name: CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT
          value: "1"
        volumeMounts:
        - name: clickhouse-data
          mountPath: /bitnami/clickhouse
        - name: clickhouse-config
          mountPath: /bitnami/clickhouse/etc/conf.d/
          readOnly: true
        resources:
          requests:
            cpu: "1.0"
            memory: "8Gi"
          limits:
            cpu: "1.0"
            memory: "8Gi"
        readinessProbe:
          httpGet:
            path: /ping
            port: 8123
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /ping
            port: 8123
          initialDelaySeconds: 60
          periodSeconds: 30
      volumes:
      - name: clickhouse-config
        configMap:
          name: clickhouse-config
  volumeClaimTemplates:
  - metadata:
      name: clickhouse-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: ocs-storagecluster-ceph-rbd
      resources:
        requests:
          storage: 10Gi
