apiVersion: v1
kind: ConfigMap
metadata:
  name: langfuse-clickhouse-config
data:
  users.xml: |
    <?xml version="1.0"?>
    <clickhouse>
      <users>
        <default>
          <password>langfuse-clickhouse-password</password>
          <networks>
            <ip>::/0</ip>
          </networks>
          <profile>default</profile>
          <quota>default</quota>
        </default>
      </users>
    </clickhouse>
  config.xml: |
    <?xml version="1.0"?>
    <clickhouse>
      <listen_host>0.0.0.0</listen_host>
      <http_port>8123</http_port>
      <tcp_port>9000</tcp_port>
      <max_server_memory_usage_to_ram_ratio>0.9</max_server_memory_usage_to_ram_ratio>
    </clickhouse>

