apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - litellm/postgres-secret.yaml
  - litellm/postgres-deployment.yaml
  - litellm/postgres-service.yaml
  - litellm/deployment.yaml
  - litellm/service.yaml
  - openwebui/deployment.yaml
  - openwebui/service.yaml

